header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    section {
        display: flex;
        align-items: center;
    }

    a {

        text-decoration: none;
        color: black;
    }

    .heading {
        padding: 2rem;
        text-align: center;
        font-weight: 900;
        font-size: 2rem;
    }

    .heading:hover {
        color: black;
    }


    .header-light {
        font-weight: 100;
    }

    nav {

        a {
            text-decoration: none;
            padding: 2rem;
            text-align: center;
            font-weight: 900;
            font-size: 1.5rem;
            color: black;
        }

        a:hover {
            color: gray;
            box-shadow: inset 0 -4px 0 gray;
        }
    }

}

@media (max-width: 480px) {
    header {
        height: 50px;
        h1 { 
            display: none;
        }
    }
}